<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>Equipment Page</title>
</head>
<body>
    <h1>Preservation Information:</h1>
    <div class="container">
       
            

    <form action="/equipment/<%=allEquip._id%>?_method=PUT" method="POST">
        <label name="po" class="po">PO</label>
        <input type='text' name = 'po' value="<%= allEquip.po %>" />
        <label name="equipment" class="equipment">Equipment</label>
        <input type='text' name = 'equipment' value="<%= allEquip.equipment %>" />
        <label name="tagNumber" class="tagNumber">Tag Number</label>
        <input type='text' name = 'tagNumber' value="<%= allEquip.tagNumber %>" />
        <label name="receiptInspection" class="receiptInspection">Receipt Inspection</label>
        <% if(allEquip.receiptInspection === true) { %>
        <input type='checkbox' name = 'receiptInspection' checked = ""  /> 
        <% } %>
        <label name="damage" class="damage">Damage</label>
        <% if(allEquip.damage === true) { %>
        <input type='checkbox' name = 'damage' checked = "" />
        <% } %>
        <label name="daily" class="daily">Daily</label>
        <% if(allEquip.daily === true) { %>
        <input type='checkbox' name = 'daily'  checked = "" />
        <% } %>
        <label name="weekly" class="weekly">Weekly</label>
        <% if(allEquip.weekly === true) { %>  
        <input type='checkbox' name = 'weekly'  checked = "" />
        <% } %>
        <label name="monthly" class="monthly">Monthly</label>
        <% if(allEquip.monthly === true) { %>   
        <input type='checkbox' name = 'monthly' checked = ""  />
        <% } %>
        <label name="yearly" class="yearly">Yearly</label>
        <% if(allEquip.yearly === true) { %>   
        <input type='checkbox' name = 'yearly' checked = ""  />
        <% } %>
        <label name='maint' class='maint'>Preservation Instructions</label>
        <textarea><%= allEquip.maint %></textarea>
        <label name="buyer" class="buyer">Buyer</label>
        <input type='text' name = 'buyer' value="<%= allEquip.buyer %>" />
        <label name="bPhone" class="bPhone">Buyer's Phone</label>
        <input type='text' name = 'bPhone' value="<%= allEquip.bPhone %>" />
        <label name="vendor" class="vendor">Vendor</label>
        <input type='text' name = 'vendor' value="<%= allEquip.vendor %>" />
        <label name="poc" class="poc">Vendor Point of Contact</label>
        <input type='text' name = 'poc' value="<%= allEquip.poc %>" />
        <label name="warehouse" class="warehouse">Warehouse</label>
        <input type='text' name = 'warehouse' value="<%= allEquip.warehouse %>" />
        <label name="yard" class="yard">Laydown Yard</label>
        <% if(allEquip.yard === true) { %>   
        <input type='checkbox' name = 'yard' checked = ""  />
        <% } %>
        <label name="indoor" class="indoor">Indoor Storage</label>
        <% if(allEquip.indoor === true) { %>   
        <input type='checkbox' name = 'indoor' checked = ""  /></br>
        <% } %>
        <input type="submit" name="" value="Submit Changes"/>
    </form>
    <form action="/equipment/<%=allEquip._id; %>?_method=Delete" method="POST">
        <input  type="submit" value="Delete">
    </form>

    <a href='/equipment'><button name="return_index">Return to the Index</button></a>

    </div>

</body>
</html>